name: Release

on:
  release:
    types: [published]

jobs:
  docker-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Pull built image
        run: docker pull ghcr.io/neinteractiveliterature/rotator:${{ github.sha }}
      - name: Tag image with version Tag
        run: docker tag ghcr.io/neinteractiveliterature/rotator:${{ github.sha }} ghcr.io/neinteractiveliterature/rotator:${{ github.event.release.name }}
      - name: Tag image as latest
        run: docker tag ghcr.io/neinteractiveliterature/rotator:${{ github.sha }} ghcr.io/neinteractiveliterature/rotator:latest
      - name: Push to registry
        run: docker push ghcr.io/neinteractiveliterature/rotator:latest && docker push ghcr.io/neinteractiveliterature/rotator:${{ github.event.release.name }}
  sst-release:
    runs-on: ubuntu-latest
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
      - run: yarn install
      - run: yarn run sst deploy --stage=production
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
